.floating-chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.margined-decisions {
    margin-bottom: 5px;
    background-color: #85bce5;
}

  
  .app-chatbot-button {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
    background-color:rgb(56, 89, 163);
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.6s ease-in-out;
  }
  .app-chatbot-button:hover {
    transform: scale(1.2);
  }
  .app-chatbot-container {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 40px;
    bottom: 55px;
    z-index: 9999;
    box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.493);
    border-radius: 5px;
  }
  .app-chatbot-button-icon {
    fill: #fff;
  }