$color-white: #FFFFFF;

$color-grey-light: #D5E9F2;
$color-grey-medium: #E2E6EB;
$color-grey-dark: #B3B3B3;
$color-grey-darker: #6a6969;
$color-grey-darkest: #404040;

$color-black-dark: #000000;

$color-cyan-blue-light: #EAF8FF;
$color-cyan-blue-medium: #C7E8F8;
$color-cyan-blue-dark: #A8D9F1;

$color-blue-light: #E9F8FF;
$color-blue-medium: #3C99DC;
$color-blue-dark: #2A56F4;

$color-purple-light: #53629F;
$color-purple-dark: #340089;

$color-orange-light: #FFB74D;
$color-orange-dark: #E34C1A;